.home-con {
	display: flex;
	flex-direction: column;
	gap: 20px;

	width: 650px;

	border: var(--colour-accent) solid 2px;
	border-radius: var(--border-r);
	
}

.home-nav {
	display: flex;
}

.nav-button:first-child {
	border-top-left-radius: calc(var(--border-r) / 1.4);
}

.nav-button:last-child {
	border-top-right-radius: calc(var(--border-r) / 1.4);
}


.nav-button {
	outline: var(--colour-accent) solid 2px;
	font-size: 1.5rem;
	flex: 1;
	background-color: var(--colour-secondary);
	cursor: pointer;
	padding: 15px 0;
}

.nav-button:hover {
	background-color: var(--colour-secondary-hover);
}


.post-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.post-form textarea {
	border: var(--colour-accent) solid 2px;
	padding: 10px;
	width: 90%;
	height: 70px;
	border-radius: var(--border-r);
	resize: none;
}

.post-form button {
	border-radius: var(--border-r);
	background-color: var(--colour-secondary);
	font-size: 1.2rem;
	padding: 10px 30px;
}

.post-form button:hover {
	background-color: var(--colour-secondary-hover);
}