*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* Colour and theme variables */
	--colour-background: #FFFFFF;
	--colour-surface: #bdcedf;

	--colour-primary: linear-gradient(to bottom right, red, orange);
	--colour-primary-hover: #287bd4;

	--colour-secondary: #aab5be;
	--colour-secondary-hover: #60778b;

	--colour-accent: #a87d91;
	--colour-accent-hover: #7a465e;

	--colour-danger: #dc3545;
	--colour-danger-hover: #b93c49;

	font-family: "Arial", "Helvetica", "sans-serif" !important;


	--border-r: 10px;
}



main {
	display: flex;
	align-items: center;
	flex-direction: column;
}

button {
	all: unset;

	text-align: center;
}

input {
	border: none;
}

textarea {
	font-family: inherit;
	font-size: inherit;
	border: none;
}

textarea::placeholder, input::placeholder, button {
	user-select: none;
	-webkit-user-select: none;
}

.dark-theme {
	/* Change global colour variables for dark theme */
	/* --colour-background: #FFFFFF;
	--colour-surface: #007bff;

	--colour-primary: #007bff;
	--colour-primary-hover: #116dce;

	--colour-secondary: #6c757d;
	--colour-secondary-hover: #53606b;

	--colour-accent: #e83e8c;
	--colour-accent-hover: #b14075;
	
	--colour-danger: #dc3545;
	--colour-danger-hover: #b93c49; */


}