hr {
	margin: 1px 0;
}

.post-con {
	display: flex;
	flex-direction: column;
	border: var(--colour-accent) solid 2px;

	gap: 15px;
	border-radius: var(--border-r);
	padding: 15px 20px;
}

.post-header {
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.post-options {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.post-analytics span, .post-options {
	user-select: none;
}

.post-analytics {
	display: flex;
	justify-content: space-between;
}

.post-analytics span {
	color: var(--colour-accent);
	display: inline-flex;
	align-items: center;
	gap: 2.5px;
}

.post-analytics span:hover {
	color: var(--colour-primary);
	/* color: #838080; */
	cursor: pointer;
}

.post-analytics span svg {
	fill: currentColor;
}

