.post-con {
	display: flex;
	flex-direction: column;

	border-top: var(--colour-accent) solid 2px;
	border-bottom: var(--colour-accent) solid 2px;

	margin-bottom: -2px;
	gap: 15px;
	padding: 15px 20px;
}

.comment-con {
	display: flex;
	flex-direction: column;

	border-top: var(--colour-accent) solid 2px;
	border-bottom: var(--colour-accent) solid 2px;

	margin-bottom: -2px;
	gap: 15px;
	padding: 15px 0;
}

.post-header {
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.post-author {
	font-weight: 700;
}

.post-options {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.post-analytics button,
.post-options button {
	color: var(--colour-accent);
}

.post-analytics button:hover,
.post-options button:hover {
	color: var(--colour-primary);
	cursor: pointer;
}

.post-analytics {
	display: flex;
	justify-content: space-between;
}

.post-analytics button {
	display: inline-flex;
	align-items: center;
	gap: 2.5px;
}



.post-analytics button svg,
.post-options button svg {
	fill: currentColor;
}

.comment-form-con {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 10px;
}

.comment-form-con textarea{
	border: var(--colour-accent) solid 2px;
	padding: 10px;
	width: 70%;
	height: 70px;
	border-radius: var(--border-r);
	resize: none;
}